@{
    ViewData["Title"] = "Combined View";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h3>Index View</h3>
    @Html.Partial("Index")
</div>

<div>
    <h3>Show Categories View</h3>
    @Html.Partial("ShowCategories")
</div>

