@model OnlinePizzaWebApplication.Models.Pizzas

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Barcode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Barcode" class="form-control" />
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AmountInBox" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AmountInBox" class="form-control" />
                <span asp-validation-for="AmountInBox" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="categories-dropdown">Categories:</label>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="categories-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select category
                </button>
                <div class="dropdown-menu" aria-labelledby="categories-dropdown">
                    <a class="dropdown-item" href="#" data-value="Yaeli">Yaeli</a>
                    <a class="dropdown-item" href="#" data-value="Rivki">Rivki</a>
                    <a class="dropdown-item" href="#" data-value="Shhf">Shhf</a>
                </div>
                <input type="hidden" id="selected-category" name="selected-category" />
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('.dropdown-item').on('click', function () {
                    $('#categories-dropdown').text($(this).text());
                    $('#selected-category').val($(this).data('value'));
                });
            });
        </script>

        <div class="form-group">
            <label asp-for="CategoriesId" class="control-label col-md-2"></label>
            <div class="col-md-10 dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCategories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownCategories">
                    @foreach (var category in ViewBag.CategoriesId)
                    {
                        <a class="dropdown-item" href="#" data-value="@category.Value">@category.Text</a>
                    }
                </div>
                <input asp-for="CategoriesId" />
                <span asp-validation-for="CategoriesId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>




    </div>
</form>

<div>
    <a asp-action="About">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
